body{
    font-family:  Arial, sans-serif;
}
header{
    position: fixed;
    z-index: 1;
    top: 0;
    width:100% ;
}
.header_1 img{
    width: 5rem; 
}

.navbar-brand  img{
    width: 50px;
    
}
.nav_header .navbar-light .navbar-nav .nav-link{
    color: black;
}
.nav_header .dropdown-toggle::after{
    content: url("../img/chevron-down-solid.svg");
    border:none;
    display:inline-block;
    width: 0.8rem;
    vertical-align: middle;
    
}
/* color */

/* button */
.button_wait{
color: white;
background-color: #363636;
border-radius: 50px;
/* rounded-pill da incollare nella classe nel html */

}
.btn_explore_ps{
    background-color: #d9dadc;
    color: #2d64e6;
}
.btn_explore_now{
    background-color: #f5f5f5;
    color: #404040;
}
/* type text */
.console_ps5 h5{
    color: #0072ce;
    margin-top: 8rem;
}
.console_ps5 p, .console_ps4 p, .ps_store p {
    color: #727272;
    font-size: 1.4rem;
    margin-top: 2rem;

}
.ps_now p{
    color:#f5f5f5;
}
.img_ps5{
    width: 100%;
    }

/*/ type text */

.search_icon{
    font-size: 30px;
}
.hero{
    margin-top: 7rem;
    color: white;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top center;

    
}
/* SEZIONE HERO  */
.logo_hero {
    width: 20rem;
    padding-top: 10rem;
    
}
.img_hero, .img_card {
    width: 100%; 
    border-radius: 20px;
 
    
}

.img_hero{
    height: 100%;
}
/* /SEZIONE HERO  */


/* SEZIONE PS5  */
/* .console_ps5 h5{
    color: #0072ce;
    margin-top: 8rem;
}
.console_ps5 p{
    color: #727272;
    font-size: 1.4rem;
    margin: 2rem 0;

} */

.row.row-cols-3.row-cols-md-5 img{
    width:100%;
}
.underline_blue{
    padding-bottom: 1rem;
border-bottom: 2px solid transparent;
}
.underline_blue:hover {
    border-bottom: 2px solid #0072ce;
    }

/*/ SEZIONE PS5  */

/* SEZIONE GAME-2 */
.game_2{
    margin-top: 7rem;
    color: white;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: top center;

   
}
.logo_game_2{
    padding: 5rem 0 2rem 0
}
.logo_game_2{
    width: 50%;
}
/* /SEZIONE GAME-2 */

/* sezione nuovi titoli ps5  */
.news_releases{
    color: white;
    background-color:#1f1f1f ;
}
/* /sezione nuovi titoli ps5  */


/* sezione ps-plus */

.ps_plus{
    background-color:#bebcbb ;
}
/* /sezione ps-plus */

.ps_now{
    background-color:#161c3b ;
    
}


/* footer  */
footer{
    background: #00439c;
    color: white;
    padding: 4rem 0 0 0 ;
}
.logo_ps_footer{
    width: 9rem;
}
footer a li{
list-style: none;
color: white;


}
footer a{
    text-decoration: none;
}

.sie_img{
    width: 9rem;
}